<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add connectionString="Data Source=127.0.0.1;Initial Catalog=vision;User Id=root;" name="MysqlConexion" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
